@import "../../styles/variables";

.sequencerContainer {
    border-radius: 12px;
    padding: 56px 24px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 48px;
    align-items: flex-start;
    position: relative;
    box-shadow: $BoxShadow;
    background-image: linear-gradient(135deg, #28313b 0%, #485461 100%);
    transition: all 0.3s ease-in-out;
}

.minimiseIcon {
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: $Text;
    font-size: 24px;
    cursor: pointer;

    &:hover {
        background-color: $BorderDark;
        border-radius: 8px;
    }
}

.isMinimised {
    overflow: hidden;
}

.title {
    display: flex;
    margin-top: 0px;
    position: absolute;
    left: 50%;
    top: -6%;
    translate: -50%;
    font-size: 34px;
    width: 30%;
    text-align: center;
    color: $Text;
    transition: all 0.3s ease-in-out;
    justify-content: center;

    &.isMinimised {
        font-size: 26px;
        top: 6px;
    }
}

.details {
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sequencer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.hidden {
    display: none;
}

.closeContainer {
    position: absolute;
    top: 12px;
    right: 12px;
}
