@import "../../styles/variables";

.container {
    width: 50vw;
    position: absolute;
    background-image: $BackgroundImage;
    translate: 50% 50%;
    border-radius: 12px;
    padding: 24px;
    z-index: 2;
    box-shadow: $BoxShadow;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 6px;
    background-color: $StepBackground;
    box-shadow: $BoxShadow;
}

.text {
    color: $Text;
    text-align: center;
    margin-bottom: 36px;
}
