@import "../../styles/variables";

.container {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 6px;
    background-color: $StepBackground;
    box-shadow: $BoxShadow;

    @media screen and (min-width: $mobile-wide-breakpoint) {
        width: 100%;
    }

    @media screen and (min-width: $x-large-screen-breakpoint) {
        width: 60px;
    }

    @media screen and (min-width: $xx-large-screen-breakpoint) {
        width: 70px;
    }

    &.isMinimised {
        aspect-ratio: unset;
        height: 20px;
        overflow: hidden;
    }

    &.active {
        background-color: $Active;
    }
}

.gridStep {
    border: 3px solid $TextAndBorder;
}

.stepNumberContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    height: 100%;
}

.stepText {
    text-decoration: underline;
    text-align: center;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;
    color: $TextAndBorder;
    font-size: 28px;
    line-height: 42px;
    height: 100%;

    @media screen and (min-width: $x-large-screen-breakpoint) {
        font-size: 36px;
        line-height: 40px;
    }

    @media screen and (min-width: $xx-large-screen-breakpoint) {
        line-height: 47px;
    }
}

.active {
    color: $Active;

    &.gridStep {
        border: 3px solid $Active;
    }
}

.isButton {
    height: 64px;

    .stepText {
        line-height: 42px;
    }

    &:hover {
        color: $Active;

        .stepText {
            color: $Active;
            border: 3px solid $Active;
        }
    }
}
