@import "../../styles/variables";

.controls {
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 12px 0px;
    flex-direction: column;
    box-shadow: $BoxShadow;
    position: relative;
}

.controlsTitle {
    position: absolute;
    top: -9px;
    width: 100%;
    text-align: center;
    color: $Text;
}

.icons {
    position: relative;
    top: 6px;
    color: $Text;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    :hover {
        cursor: pointer;
        background-color: #000000;
        border-radius: 8px;
    }
}

.half,
.double {
    text-align: center;
    font-size: 20px;
}
