$Text: rgb(215, 215, 215);
$BoxShadow: 3px 4px 12px -3px rgb(0 0 0 / 75%);
$TextAndBorder: rgb(125, 125, 125);
$StepBackground: rgb(56, 56, 56);
$Active: rgb(250, 41, 41);
$BackgroundImage: linear-gradient(135deg, #28313b 0%, #485461 100%);
$BorderDark: rgb(27, 27, 27);
